.collapse{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
}
.navbar-nav{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    /* margin-right: 5%; */
    justify-content: space-around;
    font-size: 20px;
}
.container-fluid > span{
    /* border: 1px solid black; */
    /* position: fixed; */
    margin-left: 10%;
    /* margin-top: 3%; */
}
.main{
    /* border: 1px solid black; */
    margin-top: 5%;
    /* height: 600px; */
}
#About{
    /* border: 1px solid black; */
    /* width: 100%; */
    height: 60%;
    /* display: block; */
    display: flex;
    justify-content: center;
}
#About > div{
    /* border: 1px solid black; */
    word-wrap: break-word;
    /* text-align: center; */
    /* height: 30%; */
    /* width: 100%; */
}
.about-text > div > h1{
    font-size: 90px;
    font-style: italic;
}
.about-text > div > h4{
    /* font-size: 90px; */
    font-style: italic;
}
.profile{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    /* align-items: end; */
}
.profile > div{
    /* border: 1px solid black; */
    height: 350px;
    /* wi */
    border-radius: 50%;
}
.profile > div > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

@media (max-width:576px) {
    .profile > div > img{
        height: 90%;
        width: 100%;
        /* border-radius: 50%; */
    }
}
.portfolios-div{
    /* border: 1px solid black; */
    /* height: 500px; */
    display: flex;
    justify-content: center;
}
.github-div, .hackerrank-div{
    /* border: 1px solid black; */
    text-align: center;
}
.github-pic, .hackerrank-pic{
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 300px;
}
.github-pic > img, .hackerrank-pic > img{
    height: 100%;
    width: 100%;
}
@media (max-width:440px){
    .github-pic, .hackerrank-pic{
        /* border: 1px solid black; */
        height: 200px;
    }
}

.resume-header, .project-header{
    height: 100px;
}
.pdf{
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 30px;
    /* width: 100px; */
    /* align-items: center; */
}
.pdf > a > button{
    width: 100px;
    color:white;
    background-color: blue;
}
.work-div{
    /* border: 1px solid black; */
    width: 100%;
    /* height: 600px; */
}
.work-div > div{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
}
/* .work-names > div{ */
    /* border: 1px solid black; */
    /* height: 100px; */
/* } */
.work-year{
    /* border: ; */
    height: auto;
    height: max-content;
}
hr{
    height: 10px;
}
.education-div{
    display: flex;
    justify-content: end;
    /* flex-direction:row-reverse ; */
}
.education-div > div{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.project-name > a{
    margin-left: 25%;
}
.project-demo{
    /* border: 1px solid black; */
    height: 250px;
    display: flex;
    justify-content: center;
}
.gif > img{
    width: 100%;
    height: 100%;
}

.footer{
    /* border: 1px solid black; */
    width: 100%;
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(225, 225, 218);
}
.footer > div{
    /* border: 1px solid black; */
    text-align: center;
}
.icons{
    /* width: 200px; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.icons > a {
    color: black;
}

#Resume, #Projects{
    display: none;
}
button{
    border: 0;
    border-radius: 0.25rem;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}
h1, h2, h3, h4, h5, h6{
    font-style: italic;
}
nav{
    background-color: rgb(225, 225, 218);
}
body{
    background-color: rgb(246, 246, 239);
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
}
.dropdown-menu{
    background-color: rgb(246, 246, 239);;
}


